
<style type="text/css">
  body { margin: 0; }
</style>

<script src="https://unpkg.com/3d-force-graph"></script>

<script type="module">
  import { UnrealBloomPass } from 'https://unpkg.com/three/examples/jsm/postprocessing/UnrealBloomPass.js';

  const elem = document.getElementById('3d-graph');

  const distance = 4600;//new add

  const Graph = ForceGraph3D()(elem)
    .jsonUrl("{{ '/assets/js/company.json' | relative_url }}")
    .backgroundColor("#000000") //new
    .nodeRelSize(8) //new
    .nodeOpacity(0.9) //new
    .linkOpacity(0.5) //new
    .enableNavigationControls(false)    //new add
    .showNavInfo(false)                 //new add
    .cameraPosition({ z: distance })    //new add
    .nodeAutoColorBy('user')
    .nodeLabel(node => `${node.cname}`)
    .width(1280);

  const bloomPass = new UnrealBloomPass();
  bloomPass.strength = 3;
  bloomPass.radius = 1;
  bloomPass.threshold = 0.1;
  Graph.postProcessingComposer().addPass(bloomPass);

  // camera orbit
  //new add
  let angle = 0;
  let handle = setInterval(() => {
    Graph.cameraPosition({
      x: distance * Math.sin(angle),
      //y: 5000,
      z: distance * Math.cos(angle)
    });
    angle += Math.PI / 300;

    if(angle > 5) {
      clearInterval(handle)
      Graph.enableNodeDrag(true)              //new add
      .enableNavigationControls(true)    //new add
      .showNavInfo(true)                 //new add
      .cameraPosition({x: 1000, z: 1000 }, Graph.graphData()['nodes'][0], 3000)
      .linkDirectionalParticleColor(() => 'red')  //new add
      .linkDirectionalParticleWidth(4)  //new add
      .linkHoverPrecision(10); //new add
      Graph.onLinkClick(Graph.emitParticle);
    }
  }, 10);

</script>

