
<style type="text/css">
  body { margin: 0; }
</style>

<script src="https://unpkg.com/3d-force-graph"></script>

<div id="3d-graph"></div>

<script>
  const elem = document.getElementById('3d-graph');

  const Graph = ForceGraph3D()(elem)
  .jsonUrl("{{ '/assets/js/company.json' | relative_url }}")
  .nodeAutoColorBy('user')
  .nodeLabel(node => `${node.description}`)
  .onNodeHover(node => elem.style.cursor = node ? 'pointer' : null)
  .width(1280)
  .onNodeClick(node => window.open(`https://bl.ocks.org/${node.user}/${node.id}`, '_blank'));
</script>

